body{
  font-family: arial;
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
}
header h1{

  font-size: 5.5rem;
  margin: 1rem 0 .1rem 0;
}

h1{
  text-align: center;
}
header h2{
  font-size: 2.5rem;
  margin: 0 0 1rem 0;;
}
h2,h3{
  font-size: 2rem;
  margin: .75rem 0;
}
.field{
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 0;
  background-image: url('./img/klepa.PNG');
  background-size: cover;
  user-select: none;
}

.field.q{
  background-image: url('./img/pyt.png');
}
.field.seek{
  font-size: 24px;
  background-color: #d9d9d9;
  box-sizing: border-box;
  border: 2px solid #bcbcbc;
  cursor: auto;
  background-image: none;
}
.saper{
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #aaa;
  margin: 0 auto;;
}

.saper.gameover .field,.saper.gamewon .field{
  cursor: auto ;
}

.saper.gameover .bomb{
  background-image: url('./img/bomb.PNG') !important;
  background-size: cover !important;
}

.field.mayBomb{
  background-image: url('./img/flaga.PNG');
  background-size: cover;
}

.saper.gameover .field.mayBomb.bomb{
  background-image: url('./img/pbomb.PNG') !important;
  background-size: cover ;
}

form{
  text-align: center;
}

form > div{
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

form > div > label{
  display: block;
  width: 125px;
  font-size: 1.4rem;
}
form > div > input{
  display: block;
  width: 125px;
  font-size: 1.4rem;
}

.area{
  text-align: center;
  margin-bottom: 2rem;
}

.scores{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.scores input{
  font-size: 1.3rem;
  padding: .6rem;
}

.scores button{
  margin-bottom: 2rem;
}
button{
  margin-top: 1rem;
  font-size:1.6rem;
  padding: .2rem 1rem;
}

table{
  margin: 0 auto 2rem auto;
}

td,th{
  width: 75px;
  text-align: center;
  border: 1px solid black;
  padding: .2rem 0;
}